@media screen and (max-width: 678px) {
    .container {
        padding: 0;
    }

    .nav-bar {
        height: auto;
        flex-direction: column;
        justify-content: center;
        position: static;
        text-align: center;
        padding: 2rem 0.5rem 0rem 0.5rem;
    }

    .nav-bar-links li{
        padding: 0.5rem;
        display: block;
    }

    .hero {
        height: auto;
        padding: 1vh;
    }

    .hero-head {
        margin-top: 1rem;
        font-size: 2rem;
    }

    .lead-text {
        font-size: 1.1rem;
        margin-bottom: 1.5rem;
    }   

    .main {
        padding: 0.5rem;
    }

    .section {
        padding: 5rem 1rem;
        text-align: center;
    }

    .section-head {
        font-size: 1.6rem;
    }

    .section-lead {
        font-size: 1.1rem;
        
    }

    .section.technologies .tech-stack  {
        font-size: 0.6rem;
        margin: 0.5rem;
        text-align: center;
    }
    
    .section .links-container a {
        margin: 0.5rem 0;
    }

    .section.about {
        padding: 5rem 1rem;
    }

    .footer {
        padding: 1rem 0;
    }

}
