@media screen and (max-width: 800px) {
    .container {
        padding: 0;
    }

    .nav-bar {
        height: auto;
        flex-direction: column;
        justify-content: center;
        position: static;
        text-align: center;
        padding: 1.5rem 0.5rem 1rem 0.5rem;
    }

    .nav-bar-links {
        text-align: center;
        margin-top: 0.5rem;
    }

    .nav-bar-links li{
        padding: 0.25rem;
        display: inline-block;
        margin: 0.25 1rem;
    }

    .nav-bar-links li a {
        
        padding: 0.5rem;
        /* font-size: 0.9rem; */
    }

    .hero {
        height: 80vh;
        margin: 1rem auto;
    }

    .hero-head {
        margin-top: 1rem;
        font-size: 1.8rem;
    }

    .lead-text {
        font-size: 1.1rem;
        margin-bottom: 1.5rem;
    }   

    .main {
        padding: 0.5rem 0.75rem;
    }

    .section {
        padding: 5rem 1rem;
        text-align: center;
    }

    .section-head {
        font-size: 1.6rem;
    }

    .section-lead {
        font-size: 1.1rem;
        
    }

    .section.technologies .tech-stack  {
        font-size: 0.6rem;
        margin: 0.5rem;
        text-align: center;
    }
    
    .section .links-container a {
        margin: 0.5rem 0;
    }

    .section.about {
        padding: 5rem 1rem;
    }
    
    /* About.html */
    .about-main .section {
        padding: 1rem 0;
    }

    .about-main .section p {
        font-size: 1rem;
        line-height: 1.5;
    }



    /* Blogs.html */
    .about-main .section{
        /* background-color: var(--light-gray); */
        padding: 1rem;
    }

    .about-main .section hr {
        background-color: #000;
        height: 3px;
    }

    .blogs-main, .projects-main {
        padding: 2rem 0;
    }

    .projects-main .section,
    .blogs-main .section
    {
        padding: 0 1rem;
        margin: 0;
    }

    

    .list-item-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2rem 1rem;
        margin: 0 0 3rem 0;
    }

    .project-list {
        text-align: center;
    }

    .project-list .list-item-container {
        margin-bottom: 0.5rem;
    }

    .project-list .list-item-container a.link {
        margin: 0.5rem 0;  
    }

    .blog-list .list-item-container a.link {
        margin: 1rem 0;  
    }

    .project-name .list-item {
        list-style-position: inside;
    }

    .footer {
        padding: 1rem 0;
    }

    .blog-content-preview .blog-content{
        text-align: left;
    }

    .blog-read-more {
        text-align: center;
    }

}


@media screen and (max-width: 600px) {

    .nav-bar-links {
        text-align: center;
        margin-top: 0.5rem;
    }

    .nav-bar-links li{
        padding: 0.25rem;
        display: inline-block;
        margin: 0;
    }

    .nav-bar-links li a {
        margin: 0;
        padding: 0.5rem;
        /* font-size: 0.9rem; */
    }

    .hero {
        height: 100%;
        margin: 1rem auto;
    }


    .about-main.mobile-screen {
        display: block;
    }

    .about-main.wide-screen {
        display: none;
    }
    
}