@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,400&display=swap');

:root {
    --primary-color: #00B0FF;
    --secondary-color: #005E8C;
    --dark-gray: #222;
    --light-gray: #ece9e9;
    --medium-gray: #9CA3AF;
    --gray: #ccc;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 0.25rem;
    font-family: 'Roboto', sans-serif;
}

/* Utilities */
.container {
    padding: 0 1rem;
}

.container-center {
    max-width: 960px;
    margin: auto;
}

/* Link Utilities */
.link-primary {
    background-color: var(--primary-color);
    color: #fff;
    font-weight: bold;
}

.link-secondary {
    color: var(--secondary-color);
    border: 2px solid var(--primary-color);
    font-weight: bold;
}

.link {
    padding: 0.75rem 1rem;
    margin: 0 1rem 0 0;
    display: inline-block;
    border-radius: 0.5rem;
    color: #fff;
    text-align: center;
    transition: all 0.5s ease-in-out;
}

.nav-link:hover {
    background-color: var(--secondary-color);
    opacity: 0.9;
    font-weight: bold;
}

/* Active Link */
.active {
    background: var(--secondary-color);
}

.section .link {
    width: 200px;
}

.section .link:hover {
    transform: scale(1.1);
    font-weight: bold;
}

/* Color Utilities */
.primary-color {
    color: var(--primary-color);
}

.secondary-color {
    color: var(--secondary-color);
}

.white-color {
    color: #fff;
}

.light-gray-color {
    color: var(--light-gray);
}


.bg-primary-color {
    background-color: var(--primary-color);
}

.bg-secondary-color {
    background-color: var(--secondary-color);
    color: #fff;
}

.bg-light-gray {
    background-color: var(--light-gray);
    color: var(--secondary-color);
}

.bg-white {
    background-color: #fff;
    color: var(--secondary-color);
}

.bg-dark-gray {
    background-color:var(--dark-gray);
    color: #fff;
}

.bg-gray {
    background-color: #ccc;
    color: var(--dark-gray);
}

/* List Utilities */
.list-non-bullet {
    list-style: none;
}

.inline-list li {
    display: inline-block;
    padding: 0.5rem;
    margin: 0.5rem;
}

/* Section Utilities */
.main {
    padding: 2rem;
    background-color: #f4f4f4;
}

.main-head {
    text-align: center;
    margin: 2rem 0 3rem 0;
    font-family: 'Josefin Sans', sans-serif;
}

.section {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 5px 20px 2px var(--dark-gray);
}

.section-head {
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    font-size: 1.8rem;
}

.section-lead {
    font-size: 1.2rem;
    margin-bottom: 0.75rem;
    color: var(--dark-gray);
}

/* Icons */
.fa-icon {
    margin-right:0.25rem;
}

/* Generic Styles for Tags */
a {
    text-decoration: none;
}


/* Navigation Bar */
.nav-bar {
    background-color: var(--primary-color);
    color: #fff;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    position: fixed;
    width: 100%;
    padding: 1rem;
    height: 10vh;

    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.nav-bar .brand {
    font-weight: bold;
    font-size: 1.2rem;
}

/* Header */
.hero {
    text-align: center;
    padding: 2vh 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hero .hero-img {
    width: 100%;
    height: auto;
    min-width: 300px;
    max-width: 35vw;
    margin: 0 auto;
    display: block;
}

.hero .about-hero {
    max-width: 40vw;
}

.hero .projects-hero {
    max-width: 40vw;
}

.hero .blogs-hero {
    max-width: 40vw;
}

.hero-head {
    font-size: 2.5rem;
    color: var(--dark-gray);
}

.lead-text {
    font-size: 1.5rem;
}

/* Main */

/* Section */
.section.technologies {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
} 

.section.technologies .tech-stack p {
    display: inline-block;

    padding: 0.5rem 0.75rem;
    margin: 0.5rem;
    border-radius: 0.5rem;

    background: #fff;
    color: var(--primary-color);
    border: 2px solid var(--dark-gray);
    transition: background-color 0.2s ease-in;

    font-size: 1rem;
    font-weight: bold;
}

.section.technologies .tech-stack p:hover {
    background-color: var(--dark-gray);
}

.section.technologies .tech-stack p .fa-icon {
    color: var(--primary-color);
    font-size: 1.5rem;
    font-weight: bold;
}

.section.about {
    padding: 4rem;
}

.about-main .section.about {
    margin: 2rem auto;

}

.section.about .section-head {
    margin: 1rem 0 2rem 0;
}



.section.about p {
    padding: 0.5rem 0.75rem;
    margin: 0 0.75rem;
    border-radius: 0.5rem;
    font-size: 1.2rem;
    font-family: helvetica;
}

.section.about hr {
    margin: 1.5rem 0;
}

.section .link-primary:visited {
    color: #fff;
}

.section .link-secondary:visited {
    color: var(--secondary-color);
}

.section hr {
    background: var(--dark-gray);
    width: 100%;
}

/* about.html */
.about-main.mobile-screen {
    display: none;
}


/* projects.html section */
.projects-main, .blogs-main {
    background: var(--light-gray);
    padding: 2rem;
}

.projects-main .section, .blogs-main .section {
    box-shadow: none;
    padding: 0rem 3rem 3rem 3rem;
}

.project-tag {
    background: var(--secondary-color);
    color:var(--light-gray);
    max-width: 100px;
    margin: 1rem 0;
    text-align: center;
    padding: 0.5rem;
    font-size: 0.85rem;
    font-style: italic;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    border-radius: 1rem;
}

.list-item-container {
    margin: 1rem auto 2rem auto;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--dark-gray);
}

.project-list .list-item-container .list-item {
    color: var(--secondary-color);
}


.list-item-container .project-gist, 
.list-item-container .blog-gist {
    margin: 2rem 0 0.75rem 0;
    font-family: 'Lato', sans-serif; 
    font-size: 1.1rem;
}

.list-item-container a.link {
    padding: 0.5rem 0.75rem;
}

.list-item-container a.link-secondary {
    color: var(--dark-gray);
}

/* blogs.html section */
.blogs-main section {
    margin-top: 0;
}

.blog-list .list-item-container {
    border-bottom: none;
    padding: 2rem;
    border-radius: 0.5rem;
    margin: 0rem 0 2rem 0;
} 

.blog-list .list-item-container:nth-child(odd) {
    background: #ccc;
    box-shadow: 5px 5px 10px  #000 ;

}

.blog-list .list-item-container:nth-child(even) {
    background:var(--dark-gray);
    color: #fff;
    box-shadow: 10px 10px 10px #000 ;

}

.blog-list .list-item-container:nth-child(even) .fa-icon i {
    color: #fff;
}

.blog-list .list-item-container a.link {
    margin: 0;
}


/* blog-one.html blog-two.html blog-three.html blog-four.html */
.blog-content-preview {
    padding: 3rem 1rem 1rem 1rem;
}

h1.blog-title {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    margin: 1rem 0;
    font-size: 2.2rem;
    text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
}


.blog-content article {
    padding: 1rem;
}

.blog-content p.what-is {
    border: 2px solid navy;
    padding: 1rem;
    border-radius: 0.5rem;
    margin: 1.5rem 0;
}

.blog-content p {
    margin-bottom: 0.75rem;
    line-height: 1.5;
}

.blog-content i.fas {
    margin-right: 0.5rem;
}

.blog-content ul {
    margin: 1rem 0;
}

.blog-content ul li {
    margin-bottom: 0.25rem;
}


a.blog-demo  {
    display: inline-block;
    background: steelblue;
    color: #fff;
    font-weight: bold;
    padding: 0.25rem;
    width: 100px;
    text-align: center;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    transition: transform 0.5s ease-in-out;
}

a.blog-demo-code  {
    display: inline-block;
    background: slateblue;
    color: #fff;
    font-weight: bold;
    padding: 0.25rem;
    width: 100px;
    text-align: center;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    transition: transform 0.5s ease-in-out;
}


a.blog-demo:hover, a.blog-demo-code:hover {
    transform: scale(1.1);
}


.blog-read-more {
    text-align: right;
    margin-top: 0.5rem;
}



/* Footer */
.footer {
    background: var(--primary-color);
    color: var(--dark-gray);
    padding: 1.5rem 2rem 0.5rem 2rem;
    text-align: center;
}

.footer-head {
    font-weight: bold;
    margin-bottom: 1rem;
}

.footer .social-links .link {
    font-size: 0.9rem;
    padding: 0.5rem;
    background: var(--dark-gray);
}

.footer .social-links .link:visited, .footer > p {
    color: #fff;
}

.footer .social-links .link:hover {
    background: #fff;
    color: var(--dark-gray);
}

.social-links .link:hover {
    background: var(--secondary-color);
    color: #fff;
}

.footer ul {
    padding-inline-start: 0px;
}